  h2 {
    color: aqua; background-color: rgb(206, 255, 127);
     }  
   body {
            background-color: cornflowerblue;
        }
  #prvi {
   color: rgb(255, 0, 0);
  }
  /* Pristu preko ID-a*/
  .drugi {
    color: blueviolet;
  }
  /*Pristzup preko klase*/